// Colors
$color_primary: #FC1D42;
$color_primary_dark: #BC1631;
$color_primary_light: #BBDEFB;
$color_accent: #BC1631;
$color_text_primary: rgb(51, 51, 51);
$color_text_secondary: #757575;
$color_divider: #BDBDBD;
$color_icon_primary: #fff;